User-agent string warning with ':'

Default user-agent string in got contains ':' character. But many servers shows warnings that this character not allowed in user-agent string

What does the HTTP spec say?

[RFC 2616 Section 14.43](http://tools.ietf.org/html/rfc2616#section-14.43) defines the syntax for the User-Agent header as:
```
User-Agent     = "User-Agent" ":" 1*( product | comment )
```
whereby
```
product = token ["/" product-version]
product-version = token
token = 1*<any CHAR except CTLs or separators>
separators = "(" | ")" | "<" | ">" | "@"
                  | "," | ";" | ":" | "\" | <">
                  | "/" | "[" | "]" | "?" | "="
                  | "{" | "}" | SP | HT
CTL = <any US-ASCII control character (octets 0 - 31) and DEL (127)>
comment = "(" *( ctext | quoted-pair | comment ) ")"
ctext = <any TEXT excluding "(" and ")">
TEXT = <any OCTET except CTLs, but including LWS>
quoted-pair = "\" CHAR
CHAR = <any US-ASCII character (octets 0 - 127)>
```
So @ characters are only allows in comments

I just checked now and we're not using `@` in the user-agent string: https://github.com/sindresorhus/got/blob/3dc219e70474e54c4ec4b2c27468f6ff722f8c6b/index.js#L205

Oh, semicolon after ```https``` is not a valid, because it's a separators.
If you want to have a link to github project, comment - is a best place. For example: 
```sindresorhus-got/6.6.1 (https://github.com/sindresorhus/got)```


@avyaznikov Works for me. Can you do a PR? Also need to update https://github.com/sindresorhus/got#tip

PR for new user-agent: https://github.com/sindresorhus/got/pull/171